* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.active {
    color: red;
}

.bg-image {
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(./Assets/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    backdrop-filter: inherit;
    width: 100%;
}